<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= article.author %>

    <% name = [%w[Anonymous 0], %w[Fred 1], %w[Steve 2]]. find { |inner_array| inner_array[1] == article.author } %>
    <%= name[0] %>
  </p>
</div>
