<%= form_with(model: article, class: "flex flex-col gap-5") do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="flex flex-col flex-1 gap-1">
    <%= form.label :title, style: "display: block" %>

    <div class="sm-input-container">
      <%= form.text_field :title %>
    </div>
  </fieldset>

  <fieldset class="flex flex-col flex-1 gap-1">
    <%= form.label :body %>

    <div class="sm-input-container">
      <%= form.text_field :body %>
    </div>
  </fieldset>

  <fieldset class="flex flex-col flex-1 gap-1">
    <%= form.label :author, style: "display: block" %>

    <div class="sm-input-container">
      <%= form.collection_select :author_id, Author.all, :id, :full_name, prompt: "Select an Author" %>
    </div>
  </fieldset>

  <hr />

  <div class="flex">
    <%= form.submit do %>
      <i class="fa-light fa-newspaper"></i> Publish Article
    <% end %>
  </div>
<% end %>
