<%= form_with(model: author, class: "flex flex-col gap-5") do |form| %>
  <% if author.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="flex flex-col flex-1 gap-1">
    <%= form.label :first_name %>

    <div class="sm-input-container">
      <%= form.text_field :first_name %>
    </div>
  </fieldset>

  <fieldset class="flex flex-col flex-1 gap-1">
    <%= form.label :last_name %>

    <div class="sm-input-container">
      <%= form.text_field :last_name %>
    </div>
  </fieldset>

  <hr />

  <div class="flex">
    <%= form.submit %>
  </div>
<% end %>
