<% if notice.present? %>
  <div class="sm-alert sm-alert-success">
    <div class="flex items-center justify-between gap-5">
      <div class="icon-container">
        <i class="fa-solid fa-check text-xl"></i>
      </div>
      <p class="flex-1"><%= notice %></p>
    </div>
  </div>
<% end %>

<%= render @author %>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>
