<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdn.strongmind.com/backpack-ui/latest/assets/css/BackpackUI.css' %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="strongmind-ui">
    <main class="flex flex-col gap-5 p-10 mx-auto">
      <%= yield %>
    </main>
  </body>
</html>
